<a href="https://colab.research.google.com/github/RYOTA2528/data_analysis_practice/blob/main/%5B26%E3%81%8B%E3%82%8930%E6%9C%AC%E7%9B%AE%5D%E9%80%B1%E3%82%84%E6%9B%9C%E6%97%A5%E3%81%94%E3%81%A8%E3%81%AE%E9%9B%86%E8%A8%88%E6%96%B9%E6%B3%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1から5本目]データの読み込みから型変換まで

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
sales_df = pd.read_csv("/content/drive/MyDrive/Python100本ノック用/Sales_Data.csv")
member_df = pd.read_csv("/content/drive/MyDrive/Python100本ノック用/Member_Data.csv")

In [5]:
sales_df.head(5)

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
0,1,2024/5/1 0:00,21,25,12,3,5820
1,2,2024/5/1 2:55,107,23,17,1,640
2,3,2024/5/1 5:51,117,24,6,3,1270
3,4,2024/5/1 8:47,124,38,1,3,5980
4,5,2024/5/1 11:43,281,28,5,4,9390

In [6]:
member_df.tail(5)

     Member_ID  Gender  Age  Days_Since_Registration
295        296    Male   41                     1513
296        297  Female   58                     1613
297        298  Female   71                     1177
298        299  Female   38                     1660
299        300  Female   50                      104

In [7]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    1000 non-null   int64
 1   Transaction_Date  1000 non-null   object
 2   Member_ID         1000 non-null   int64
 3   Product_ID        1000 non-null   int64
 4   Store_ID          1000 non-null   int64
 5   Quantity          1000 non-null   int64
 6   Amount            1000 non-null   int64
dtypes: int64(6), object(1)
memory usage: 54.8+ KB

In [8]:
# 各種IDを文字列に変換
sales_df["Transaction_ID"] = sales_df["Transaction_ID"].astype("string")
sales_df["Member_ID"] = sales_df["Member_ID"].astype("string")
sales_df["Product_ID"] = sales_df["Product_ID"].astype("string")
sales_df["Store_ID"] = sales_df["Store_ID"].astype("string")
sales_df["Transaction_ID"] = sales_df["Transaction_ID"].astype("string")

In [9]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    1000 non-null   string
 1   Transaction_Date  1000 non-null   object
 2   Member_ID         1000 non-null   string
 3   Product_ID        1000 non-null   string
 4   Store_ID          1000 non-null   string
 5   Quantity          1000 non-null   int64
 6   Amount            1000 non-null   int64
dtypes: int64(2), object(1), string(4)
memory usage: 54.8+ KB

## [6から10本目]データの型変換からqueryの使い方まで

In [10]:
#[6] 日付データをdataTime型に変換
sales_df["Transaction_Date"] = pd.to_datetime(sales_df["Transaction_Date"] )

In [11]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    1000 non-null   string
 1   Transaction_Date  1000 non-null   datetime64[ns]
 2   Member_ID         1000 non-null   string
 3   Product_ID        1000 non-null   string
 4   Store_ID          1000 non-null   string
 5   Quantity          1000 non-null   int64
 6   Amount            1000 non-null   int64
dtypes: datetime64[ns](1), int64(2), string(4)
memory usage: 54.8 KB

In [12]:
#[7] 取引データの各列の基本的な統計情報の表示
sales_df.describe()

                    Transaction_Date     Quantity        Amount
count                           1000  1000.000000   1000.000000
mean   2024-06-30 23:59:30.299999744     2.551000   5338.650000
min              2024-05-01 00:00:00     1.000000    510.000000
25%              2024-05-31 11:59:15     2.000000   3022.500000
50%              2024-06-30 23:59:30     3.000000   5250.000000
75%              2024-07-31 11:59:45     4.000000   7752.500000
max              2024-08-31 00:00:00     4.000000  10000.000000
std                              NaN     1.103003   2778.234487

In [13]:
# [8]カラム名の変更
sales_df.rename(columns={"Amount": "Sales_Amount"})

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Sales_Amount
0,1,2024-05-01 00:00:00,21,25,12,3,5820
1,2,2024-05-01 02:55:00,107,23,17,1,640
2,3,2024-05-01 05:51:00,117,24,6,3,1270
3,4,2024-05-01 08:47:00,124,38,1,3,5980
4,5,2024-05-01 11:43:00,281,28,5,4,9390
...,...,...,...,...,...,...,...
995,996,2024-08-30 12:16:00,213,33,15,3,8400
996,997,2024-08-30 15:12:00,62,49,19,3,3930
997,998,2024-08-30 18:08:00,49,12,11,4,2530
998,999,2024-08-30 21:04:00,127,11,15,3,4160
999,1000,2024-08-31 00:00:00,223,5,12,2,7530

In [14]:
# [9] Amountを100円単に四捨五入
sales_df["Amount"].round(-2)

0      5800
1       600
2      1300
3      6000
4      9400
       ...
995    8400
996    3900
997    2500
998    4200
999    7500
Name: Amount, Length: 1000, dtype: int64

In [15]:
# [10] 取引データからAmountが5000円を超える取引を抽出
sales_df.query("Amount > 5000")

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
0,1,2024-05-01 00:00:00,21,25,12,3,5820
3,4,2024-05-01 08:47:00,124,38,1,3,5980
4,5,2024-05-01 11:43:00,281,28,5,4,9390
5,6,2024-05-01 14:39:00,292,21,14,4,8730
6,7,2024-05-01 17:35:00,203,43,5,3,9830
...,...,...,...,...,...,...,...
991,992,2024-08-30 00:33:00,258,19,14,1,7220
992,993,2024-08-30 03:29:00,81,18,13,3,7610
994,995,2024-08-30 09:20:00,235,8,12,1,7880
995,996,2024-08-30 12:16:00,213,33,15,3,8400
999,1000,2024-08-31 00:00:00,223,5,12,2,7530

## [11から15本目]queryの様々な使い方(ノック)

In [16]:
# [11]会員データから30歳から50歳の会員を抽出してください
member_df.query("30 <= Age <=50")

     Member_ID  Gender  Age  Days_Since_Registration
3            4  Female   49                     1881
8            9    Male   48                     1640
9           10  Female   48                     1317
12          13    Male   41                     1855
13          14    Male   33                      928
..         ...     ...  ...                      ...
292        293  Female   35                      388
293        294    Male   32                     1127
295        296    Male   41                     1513
298        299  Female   38                     1660
299        300  Female   50                      104

[114 rows x 4 columns]

In [17]:
# [12]取引データから"2024-08-01"以降に行われた取引を抽出
sales_df.query("Transaction_Date >= '2024-08-01'") #''で囲うこと
# sales_df.columns

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
754,755,2024-08-01 01:55:00,226,17,14,4,8640
755,756,2024-08-01 04:51:00,131,18,18,3,960
756,757,2024-08-01 07:47:00,76,45,13,3,1910
757,758,2024-08-01 10:42:00,286,29,11,1,4430
758,759,2024-08-01 13:38:00,277,20,16,1,5090
...,...,...,...,...,...,...,...
995,996,2024-08-30 12:16:00,213,33,15,3,8400
996,997,2024-08-30 15:12:00,62,49,19,3,3930
997,998,2024-08-30 18:08:00,49,12,11,4,2530
998,999,2024-08-30 21:04:00,127,11,15,3,4160
999,1000,2024-08-31 00:00:00,223,5,12,2,7530

In [18]:
# [13]Store_ID が「1」または「3」で、かつ Amount が5000円以上の取引を抽出
sales_df.query("(Store_ID == '1' or Store_ID == '1') and Amount >= 5000")

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
3,4,2024-05-01 08:47:00,124,38,1,3,5980
7,8,2024-05-01 20:30:00,51,18,1,4,5510
17,18,2024-05-03 01:49:00,156,3,1,3,7620
86,87,2024-05-11 12:03:00,77,37,1,2,8500
95,96,2024-05-12 14:26:00,167,9,1,3,5370
129,130,2024-05-16 18:05:00,259,1,1,2,9480
188,189,2024-05-23 23:00:00,12,11,1,2,9920
210,211,2024-05-26 15:29:00,25,8,1,4,9390
279,280,2024-06-04 01:43:00,133,3,1,4,8210
280,281,2024-06-04 04:39:00,183,14,1,1,5570
287,288,2024-06-05 01:10:00,138,38,1,2,8160
309,310,2024-06-07 17:39:00,232,29,1,1,8290
318,319,2024-06-08 20:02:00,192,19,1,3,7440
441,442,2024-06-23 20:32:00,118,7,1,4,6990
443,444,2024-06-24 02:24:00,23,13,1,2,9340
547,548,2024-07-06 19:13:00,90,11,1,3,7760
647,648,2024-07-19 00:18:00,66,43,1,2,8580
732,733,2024-07-29 09:26:00,162,10,1,1,8090
782,783,2024-08-04 11:59:00,201,5,1,1,8260
788,789,2024-08-05 05:34:00,191,19,1,3,8120
797,798,2024-08-06 07:57:00,142,14,1,4,5850
845,846,2024-08-12 04:38:00,222,40,1,4,8850
885,886,2024-08-17 01:52:00,276,32,1,3,5760
891,892,2024-08-17 19:27:00,76,10,1,1,6690
946,947,2024-08-24 12:39:00,72,43,1,2,7610
947,948,2024-08-24 15:35:00,109,35,1,1,9110

In [19]:
# [14] Product_ID が「10」、「20」、「30」のいずれかに一致する取引
sales_df.query("Product_ID in ['10', '20', '30']")

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
13,14,2024-05-02 14:06:00,52,30,2,1,8650
41,42,2024-05-06 00:10:00,47,20,12,1,3060
44,45,2024-05-06 08:57:00,277,10,10,4,6870
69,70,2024-05-09 10:14:00,164,30,9,3,4650
84,85,2024-05-11 06:11:00,138,30,2,3,1750
167,168,2024-05-21 09:27:00,288,20,5,1,6520
227,228,2024-05-28 17:19:00,288,10,9,4,3570
236,237,2024-05-29 19:41:00,43,30,17,3,9630
237,238,2024-05-29 22:37:00,254,30,12,3,6460
247,248,2024-05-31 03:56:00,253,30,16,4,1090
273,274,2024-06-03 08:08:00,7,30,19,4,4090
315,316,2024-06-08 11:14:00,42,30,11,3,3650
326,327,2024-06-09 19:29:00,97,10,14,3,4760
327,328,2024-06-09 22:24:00,10,10,19,4,5540
330,331,2024-06-10 07:12:00,277,20,9,3,2680
340,341,2024-06-11 12:30:00,69,30,2,4,1580
402,403,2024-06-19 02:14:00,113,10,8,3,5060
418,419,2024-06-21 01:07:00,224,30,18,2,2380
421,422,2024-06-21 09:55:00,86,20,15,4,8750
484,485,2024-06-29 02:34:00,132,10,6,2,7440
487,488,2024-06-29 11:21:00,227,10,17,2,3920
498,499,2024-06-30 19:36:00,119,10,19,2,2220
514,515,2024-07-02 18:29:00,188,20,4,1,1770
525,526,2024-07-04 02:44:00,228,30,12,4,8200
575,576,2024-07-10 05:17:00,182,20,14,4,5880
590,591,2024-07-12 01:14:00,182,10,8,2,1430
617,618,2024-07-15 08:23:00,82,20,8,2,3290
635,636,2024-07-17 13:08:00,86,10,2,4,2170
639,640,2024-07-18 00:51:00,198,30,6,2,3120
641,642,2024-07-18 06:43:00,65,30,8,3,3990
691,692,2024-07-24 09:16:00,197,30,19,2,3150
695,696,2024-07-24 20:59:00,8,30,7,4,9220
700,701,2024-07-25 11:39:00,55,20,3,3,2440
709,710,2024-07-26 14:01:00,283,10,14,3,6310
732,733,2024-07-29 09:26:00,162,10,1,1,8090
744,745,2024-07-30 20:36:00,154,20,7,3,9310
745,746,2024-07-30 23:32:00,133,20,5,3,6820
746,747,2024-07-31 02:28:00,227,30,17,3,7060
758,759,2024-08-01 13:38:00,277,20,16,1,5090
767,768,2024-08-02 16:01:00,75,20,12,2,7130
769,770,2024-08-02 21:53:00,176,10,1,1,4220
801,802,2024-08-06 19:40:00,210,20,6,2,6810
844,845,2024-08-12 01:42:00,227,10,8,3,8320
850,851,2024-08-12 19:17:00,2,20,4,4,1970
865,866,2024-08-14 15:15:00,50,30,10,3,6550
884,885,2024-08-16 22:56:00,38,10,16,3,5690
891,892,2024-08-17 19:27:00,76,10,1,1,6690
926,927,2024-08-22 02:02:00,233,20,2,4,7020
975,976,2024-08-28 01:39:00,202,10,17,2,9790
977,978,2024-08-28 07:31:00,210,20,6,4,5070

In [20]:
# [15]  Product_ID が「10」、「20」、「30」ではない取引を抽出
sales_df.query("Product_ID not in ['10', '20', '30']")

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
0,1,2024-05-01 00:00:00,21,25,12,3,5820
1,2,2024-05-01 02:55:00,107,23,17,1,640
2,3,2024-05-01 05:51:00,117,24,6,3,1270
3,4,2024-05-01 08:47:00,124,38,1,3,5980
4,5,2024-05-01 11:43:00,281,28,5,4,9390
...,...,...,...,...,...,...,...
995,996,2024-08-30 12:16:00,213,33,15,3,8400
996,997,2024-08-30 15:12:00,62,49,19,3,3930
997,998,2024-08-30 18:08:00,49,12,11,4,2530
998,999,2024-08-30 21:04:00,127,11,15,3,4160
999,1000,2024-08-31 00:00:00,223,5,12,2,7530

## [16から20本目]queryの使い方(続き)からgroupbyの使い方

In [21]:
# [16] Quantity が最頻値で、かつ Store_ID が「3」の取引を抽出
mode_quantity = sales_df["Quantity"].mode() #mode()で最頻値取得
# mode_quantity
sales_df.query("Quantity == @mode_quantity and Store_ID == '3'") #変数取得は@

Empty DataFrame
Columns: [Transaction_ID, Transaction_Date, Member_ID, Product_ID, Store_ID, Quantity, Amount]
Index: []

In [22]:
# [17] Amount が第1四分位(25%の箇所)から第3四分位(75%の箇所)の範囲に属する取引を抽出
# sales_df["Amount"]
q1 = sales_df["Amount"].quantile(0.25)
q3 = sales_df["Amount"].quantile(0.75)
sales_df.query("@q1 >= Amount <= @q3")
# print(q1)
# print(q3)

,Transaction_ID,Transaction_Date,Member_ID,Product_ID,Store_ID,Quantity,Amount
1,2,2024-05-01 02:55:00,107,23,17,1,640
2,3,2024-05-01 05:51:00,117,24,6,3,1270
16,17,2024-05-02 22:53:00,239,32,4,3,2680
32,33,2024-05-04 21:47:00,159,34,6,2,3000
36,37,2024-05-05 09:30:00,36,4,18,4,2430
...,...,...,...,...,...,...,...
982,983,2024-08-28 22:10:00,28,2,5,2,2020
984,985,2024-08-29 04:02:00,84,37,6,4,2720
986,987,2024-08-29 09:53:00,117,7,18,2,790
993,994,2024-08-30 06:24:00,268,16,7,1,2370
997,998,2024-08-30 18:08:00,49,12,11,4,2530

In [23]:
# [18] Product_IDとStore_IDは何種類あるか確認
print(sales_df['Product_ID'].nunique())
print(sales_df['Store_ID'].nunique())

50
20

In [24]:
# [19] 取引データのProduct_ID ごとに Amount の合計を計算
sales_df.groupby("Product_ID")["Amount"].sum()

Product_ID
1     121370
10     92090
11    138860
12     63900
13    139100
14     70100
15     68080
16    105910
17    169320
18    110060
19    130610
2      49920
20     83610
21    111740
22    128200
23    106680
24    114060
25     88820
26    101690
27    102510
28    121120
29    125780
3     110040
30     85220
31    106200
32    125020
33     58490
34    126490
35    123210
36    172620
37    126730
38    130600
39     77480
4     122830
40    110710
41    110640
42     77460
43    101910
44     97120
45    148920
46     55560
47    156200
48     78090
49    118600
5      76510
50    111310
6      84720
7      94250
8     135630
9      72560
Name: Amount, dtype: int64

In [25]:
# 20 Product_ID ごとにQuantityの中央値を計算
sales_df.groupby("Product_ID")["Quantity"].median()

Product_ID
1     2.0
10    3.0
11    3.0
12    3.0
13    2.0
14    3.0
15    2.5
16    3.0
17    2.0
18    3.0
19    2.0
2     2.0
20    3.0
21    2.5
22    3.0
23    2.0
24    2.0
25    3.0
26    2.0
27    2.0
28    3.0
29    3.0
3     3.0
30    3.0
31    3.0
32    3.0
33    3.0
34    3.0
35    3.0
36    3.0
37    3.0
38    3.0
39    3.0
4     2.0
40    2.0
41    2.0
42    3.0
43    2.0
44    2.5
45    3.0
46    2.0
47    2.0
48    2.5
49    3.0
5     3.0
50    2.0
6     3.0
7     2.0
8     2.0
9     3.0
Name: Quantity, dtype: float64

## [21から25本目]日付の扱いとソートの使い方

In [26]:
# [21] Store_ID ごとに平均Amountを集計してください
sales_df.groupby("Store_ID")["Amount"].mean()

Store_ID
1     5875.111111
10    5295.961538
11    4872.400000
12    5615.681818
13    5811.186441
14    5879.111111
15    5587.343750
16    5189.803922
17    4724.492754
18    4887.916667
19    5099.361702
2     4632.142857
20    5076.923077
3     5507.450980
4     5329.512195
5     5687.500000
6     5362.037037
7     5456.410256
8     5434.426230
9     5622.857143
Name: Amount, dtype: float64

In [27]:
# [22] 会員データの性別 (Gender) ごとに平均年齢を計算
member_df.groupby("Gender")["Age"].mean()

Gender
Female    48.945205
Male      53.259740
Name: Age, dtype: float64

In [28]:
# [23] 会員ごとに平均Amountを計算してください
sales_df.groupby("Member_ID")["Amount"].mean()

Member_ID
1      4985.000000
10     6360.000000
100    7140.000000
101    6085.000000
102    4297.500000
          ...
95     1310.000000
96     3330.000000
97     3036.666667
98     5533.333333
99     7915.000000
Name: Amount, Length: 288, dtype: float64

In [29]:
# [24] Transaction_Dateから日付だけ取り出して日付ごとに Amount の合計を集計
# sales_df["Transaction_Date"]
sales_df["Transaction_Date_yyyyMMdd"] = sales_df['Transaction_Date'].dt.date #日付だけとりだす
sales_df["Transaction_Date_yyyyMMdd"]
sales_df.groupby("Transaction_Date_yyyyMMdd")["Amount"].sum()

Transaction_Date_yyyyMMdd
2024-05-01    55160
2024-05-02    47770
2024-05-03    52060
2024-05-04    38830
2024-05-05    47370
              ...
2024-08-27    42500
2024-08-28    34250
2024-08-29    42680
2024-08-30    44100
2024-08-31     7530
Name: Amount, Length: 123, dtype: int64

In [30]:
# [25] 日付ごとの合計Amountを集計し、合計Amountが小さい順にソート
# "Transaction_Date_yyyyMMdd" の日付がインデックスになっているため、まずはreset_index()で構造を見やすくする
sales_df.groupby("Transaction_Date_yyyyMMdd")["Amount"].sum().reset_index().sort_values(by="Amount", ascending=True)

    Transaction_Date_yyyyMMdd  Amount
122                2024-08-31    7530
51                 2024-06-21   24120
20                 2024-05-21   25140
114                2024-08-23   28120
68                 2024-07-08   28970
..                        ...     ...
24                 2024-05-25   57490
39                 2024-06-09   57500
117                2024-08-26   59750
84                 2024-07-24   60630
67                 2024-07-07   66030

[123 rows x 2 columns]

## [26から30本目]週や曜日ごとの集計方法

In [32]:
# [26] 月ごとに Amount を集計
sales_df["Month"] = sales_df['Transaction_Date'].dt.to_period("M")
sales_df.groupby("Month")["Amount"].sum()

Month
2024-05    1374890
2024-06    1282280
2024-07    1355570
2024-08    1325910
Freq: M, Name: Amount, dtype: int64

In [34]:
# [27] 月ごとのAmountの増減の絶対値を前月と比較して計算
monthly_sales = sales_df.groupby("Month")["Amount"].sum().reset_index()
monthly_sales["Amount"].diff()

0        NaN
1   -92610.0
2    73290.0
3   -29660.0
Name: Amount, dtype: float64

In [35]:
# [28] 曜日ごとの合計Amountを集計
sales_df["Day_of_Week"] = sales_df['Transaction_Date'].dt.day_name()
sales_df.groupby("Day_of_Week")["Amount"].sum()

Day_of_Week
Friday       745610
Monday       719260
Saturday     752010
Sunday       765580
Thursday     791610
Tuesday      722620
Wednesday    841960
Name: Amount, dtype: int64

In [36]:
# [29] 1週間ごとに合計Amountを集計
sales_df["Week"] = sales_df["Transaction_Date"].dt.to_period("W")
sales_df.groupby("Week")["Amount"].sum()

Week
2024-04-29/2024-05-05    241190
2024-05-06/2024-05-12    311410
2024-05-13/2024-05-19    305180
2024-05-20/2024-05-26    309750
2024-05-27/2024-06-02    290200
2024-06-03/2024-06-09    312650
2024-06-10/2024-06-16    300020
2024-06-17/2024-06-23    281970
2024-06-24/2024-06-30    304800
2024-07-01/2024-07-07    319920
2024-07-08/2024-07-14    287650
2024-07-15/2024-07-21    309950
2024-07-22/2024-07-28    287240
2024-07-29/2024-08-04    315990
2024-08-05/2024-08-11    279250
2024-08-12/2024-08-18    344090
2024-08-19/2024-08-25    306580
2024-08-26/2024-09-01    230810
Freq: W-SUN, Name: Amount, dtype: int64

In [37]:
# [30] 1週間ごとのAmountの増減を計算し、増加率をパーセンテージで表示
weekly_sales = sales_df.groupby("Week")["Amount"].sum().reset_index()
weekly_sales["Amount"].pct_change()*100 #pct_change()*100で%だせる

0           NaN
1     29.113977
2     -2.000578
3      1.497477
4     -6.311542
5      7.736044
6     -4.039661
7     -6.016266
8      8.096606
9      4.960630
10   -10.086897
11     7.752477
12    -7.326988
13    10.009052
14   -11.626950
15    23.219338
16   -10.901218
17   -24.714593
Name: Amount, dtype: float64